{% extends 'main/base.html' %}

{% block title %}
History
{% endblock %}

{% block content %}
    <h1>History</h1>

    <form method="get" class="input-group mb-3 py-2" action="history">

        <select name="name" class="form-select">
            <option value="" {% if items == '' %} selected {% endif %}>No filter</option>
            {% for i in el_set %}
            <option value="{{ i }}" {% if items == i %} selected {% endif %}>{{ i }}</option>
            {% endfor %}
        </select>
        <input class="form-control datepicker" type="date" name="date_from" value="{{  date_from  }}">
        <input class="form-control datepicker" type="date" name="date_to"  value="{{  date_to  }}">
        <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="submit">Search</button>
        </div>
        <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="reset">Reset</button>
        </div>
    </form>

    {% if items %}
        <table class="table">
          <thead>
            <tr>
              <th scope="col">id</th>
              <th scope="col">Name</th>
              <th scope="col">Date of searching</th>
              <th scope="col">Temperature</th>
              <th scope="col">Feels like</th>
              <th scope="col">Humidity</th>
            </tr>
          </thead>
          <tbody>
          {% for el in items%}
            <tr>
              <th scope="row">{{ el.id }}</th>
              <td>{{ el.name }}</td>
              <td>{{ el.dat }}</td>
              <td>{{ el.temp }}</td>
              <td>{{ el.feels_like }}</td>
              <td>{{ el.humidity }}</td>
            </tr>
          {% endfor %}
          </tbody>
        </table>

    {% else %}
        <div class="alert alert-danger" role="alert">
          History is empty
        </div>
    {% endif %}
{% endblock %}